<script>
$(function(){
var tokenitem = document.cookie.split(';').find(function(i){return $.trim(i).split('=')[0]=='access_token'})
alert(tokenitem);
if (tokenitem) { window.gitlab_token = tokenitem.split('=')[1] } else { window.gitlab_token = '' }
var path = encodeURIComponent(window.location.pathname);
alert(path);
if (window.gitlab_token) {
    $('#signin').text("Sign out").prop('href','{{$.Site.BaseURL}}/page/signout/?state=' + path);
    //var URL = 'https://gitlab.com/api/v4/projects/26575738/pipeline';
    var URL = 'https://gitlab.com/api/v4/projects/26672727/pipeline';
    $('#api-example').click(function() {
        $.ajax(URL,{
                'data':JSON.stringify({
                    'ref': 'master',
                    'variables': [{'key':'PROJECTID', 'value':$('#projectid').val(), 'variable_type':'env_var'},{'key':'FOLDERID', 'value':$('#folderid').val(), 'variable_type':'env_var'}]
                }),
                'method':'POST',
                'headers':{
                    'Authorization': 'Bearer '+window.gitlab_token,
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                    $('#api-output').html('<b>Pipeline status is ' + output['status'] + '</b> &nbsp; <a href="' + output['web_url'] + '">View pipeline</a>');
                },
                'error':function(output) {
                    $('#api-output').html('<b>Error</b>')
                }});
        $('#pipeline-form').hide();
        $('#pipeline-after').show();
    })
} else {
   var url="https://gitlab.com/oauth/authorize?client_id=74d29ea0fff237f88c94a2320db2cd5531dbf816b0ec80006620a560127e56d5&redirect_uri=http%3A%2F%2Fshivanihegde.gitlab.io%2Fcustom_pipeline_form%2Fpage%2Fauth&response_type=token&scope=api&state=" + path;
    $('#signin').text("Sign in").prop('href',url);
    $('#api-example').click(function() {
    alert("Please sign in to GitLab at the top right before trying to access the API");
    })
}
})
</script>
